@import "compass/reset";

html {
  background: #fff url('/images/bg.png');
}

body {
  margin: 1em auto;
  margin-top: 0;
  width: 950px;
  background-color: rgba(255,255,255,0.65);
  padding: 0;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 25px grey;
  font-family: "arial", sans-serif;
  font-size: 85%;
}

#header {
  background: #4eab51;
  border-bottom: 1px solid #4eab51;
  padding: 0 5px 1em 0;
  height: 50px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.03, rgb(147,240,148)),
    color-stop(0.76, rgb(78,171,81))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(147,240,148) 3%,
      rgb(78,171,81) 76%
  );

  
  h1 {
    color: white;
    padding-right: 1em;
    padding-top: .5em;
    font-size: 200%;
    font-weight: bold;
    float: right;
    text-shadow: #4EAB51 1px 1px 3px;
  }

  ul.menu {
    list-style: none;
    float: right;
    line-height: 60px;
    margin-right: 1em;
    text-shadow: #4EAB51 1px 1px 3px;
    
    li {
      list-style: none;
      display: inline;
      margin-right: 1.5em;
    
      a {
        color: white;
        text-decoration: none;
        font-size: 120%;
      }
      
      a:hover {
        border-bottom: 1px solid white;
      }
    }
  }
}

a.fg-button {
  margin: 3px;
}

#container {
  padding: 1em;
  
  a, a:visited {
    background-color: #894fab;
    color: white;
    padding: 0px 5px;
    text-decoration: none;
    //font-weight: bold;
    border-radius: 5px;
    border: 1px solid #ab4f83;
    

  }

  a:hover {
    color: white;
    background-color: #ab4f83;
  }

  
  h2 {
    font-weight: bold;
    font-size: 150%;
    margin-bottom: .5em;
  }
  
  h3 {
    font-weight: bold;
    font-size: 125%;
    margin-top: 1em;
    margin-bottom: .5em;
  }
  
  table {

    width: 100%;
    
    th {
      text-align: center;
    }
    
    td {
      padding: 6px 3px;
      text-align: right;
    }
  }
  
  #mifgashim-table {
    width: 65%;
    
    table {
      float: right;
    }
  }

  #kvutzot-table {
    .dataTables_wrapper {
      width: 615px;
    }
  }
  
  //.madrich {
  //  background: white;
  //  border: 1px solid #ab4f83;
  //  border-radius: 5px;
  //	text-shadow: #ab4f83 1px 1px 5px;
  //	padding: 0 4px;
  //}
  
  .madrich:hover {
    background: #ab4f83;
    border: 1px solid white;
    color: white;
  }
  
}

#footer {
  text-align: center;
  color: grey;
  padding: 1em;
  clear: both;
}
