-# encoding: utf-8 
- form_for @ken, url_for(:ken_update, :ken_id => @ken.name, :mahoz_id => @ken.mahoz.name), :id => 'ken-form' do |f|
  = f.error_messages
  = f.text_field_block :name, :caption => "שם הקן"
  = f.text_field_block :code, :caption => "קוד הקן"

  = f.submit_block "שמור את הקן הזה יא סוואדי!", :class => 'button'

- content_for :js do
  :javascript
    $.datepicker.setDefaults( $.datepicker.regional[ "he" ] );
    $('input[name*="birthday"]').datepicker({
      dateFormat: 'yy-mm-dd',
      firstDay: 0,
      isRTL: true,
      changeMonth: true,
      changeYear: true,
      defaultDate: "-19y",
      maxDate: "-17y",
      minDate: "-30y",
      }
    );

